#Data Science Libraries
numpy
pandas
scipy
statsmodels

# Machine Learning and Evaluation
scikit-learn

# Visualization
matplotlib
seaborn
plotly

# Graph and Network Analysis
networkx
ipykernel
hashlib
community
python-louvain

gym
torch
tensorflow
imblearn